.feature.feature-vhc {
	background-image: url('feature-vhc.jpg');
}

.hotel-image {
	background-image: url('feature-hotel.jpg');
	background-position: 50% 65%;
	background-size: cover;
	height: 400px;
}