.feature-details {
	background-image: var(--feature-details-sm);

	&.feature-large::before {
		background-image: url(feature-details.jpg);
		opacity: 1;
	}
}

.hotel-image {
	background-image: url('feature-hotel.jpg');
	background-position: 50% 65%;
	background-size: cover;
	height: 400px;
}