.feature.feature-home {
	background-image: url('feature.jpg');
	height: 600px;
	min-height: 80vh;

	@media only screen and (max-width: 48em) {
		height: 400px;
		min-height: 0;
	}
}

.engagement-image {
	background-image: url('engagement-sm.jpg');
	background-position: center;
	background-size: cover;
	padding: 6rem 1rem;
	text-align: center;

	@media only screen and (max-width: 48em) {
		padding: 1.5rem 1rem;
	}

	& img {
		max-height: 320px;
	}
}

.wedding-image {
	background-image: url('feature2.jpg');
	background-position: center;
	background-size: cover;
	height: 400px;
}

.wedding-party {

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	& figure {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 1rem;
	}

	& figcaption {
		justify-content: center;
		display: flex;
		padding-left: 1rem;
		flex-direction: column;
	}

	& img {
		border: 2px solid var(--c-dark);
		border-radius: 50%;
		filter: grayscale(50%);
		height: 6rem;
		width: 6rem;
	}
}
