.feature-home {
	background-image: var(--feature-home-sm);
	height: 600px;
	min-height: 80vh;

	&.feature-large::before {
		background-image: url(feature-home.jpg);
		opacity: 1;
	}

	@media only screen and (max-width: 48em) {
		height: 400px;
		min-height: 0;
	}
}

.engagement-image {
	overflow: hidden;
	padding: 6rem 1rem;
	position: relative;
	text-align: center;

	@media only screen and (max-width: 48em) {
		padding: 1.5rem 1rem;
	}

	& img {
		max-height: 320px;

		&:first-child {
			filter: blur(10px);
			left: -10px;
			max-height: none;
			position: absolute;
			top: calc(-50vw);
			z-index: -1;
			width: calc(100vw + 20px);
			max-width: none;
		}
	}
}

.wedding-image {
	background-image: url('feature-engagement-shoot.jpg');
	background-position: center;
	background-size: cover;
	height: 400px;
}

.wedding-party {

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	& figure {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 1rem;
	}

	& figcaption {
		justify-content: center;
		display: flex;
		padding-left: 1rem;
		flex-direction: column;
	}

	& img {
		border-radius: 50%;
		filter: grayscale(50%);
		height: 6rem;
		width: 6rem;
	}
}
