.feature.feature-photos {
	background-image: url('photos.jpg');
}

.feature.feature-engagement {
	background-image: url('feature-engagement.jpg');
}

.feature.feature-happy-couple {
	background-image: url('feature-happy-couple.jpg');
}

.feature.feature-engagement-shoot {
	background-image: url('feature-engagement-shoot.jpg');
}