.feature-photos {
	background-image: var(--feature-photos-sm);

	&::before {
		background-image: url(feature-photos.jpg);
	}
}

.feature-engagement {
	background-image: var(--feature-engagement-sm);

	&::before {
		background-image: url(feature-engagement.jpg);
	}
}

.feature-happy-couple {
	background-image: var(--feature-happy-couple-sm);

	&::before {
		background-image: url(feature-happy-couple.jpg);
	}
}

.feature-engagement-shoot {
	background-image: var(--feature-engagement-shoot-sm);

	&::before {
		background-image: url(feature-engagement-shoot.jpg);
	}
}