.feature-registry {
	background-image: var(--feature-registry-sm);

	&.feature-large::before {
		background-image: url(feature-registry.jpg);
		opacity: 1;
	}
}

.registry-images {
	background-color: var(--c-dark);
}