:root {
	--c-main: #b65b5c;
	--c-dark: #444;
	--c-gray: #bbb;
	--c-light: #d8d8d8;
	--f-body: 'Inconsolata', serif;
	--fw-body: 400;
	--f-header: 'Lato', sans-serif;
	--fw-header-light: 300;
	--fw-header-heavy: 700;
	--transition: all .5s ease;
}
